.navComponents{
    margin: 0 58px;
    font-size: 28px;
}
  
  .nav-link {
    color: #aaa; /* Change to your desired link color (light gray) */
  }
  .navbar {
    background-color: rgba(255, 255, 255, 0); /* Transparent white background */
  }

  .navbar-nav {
    float: right;
}

